*.iml
/app/build
/comm/base/build
/comm/library/build
/home/build
/me/build
/mylist/build
/search/build
/splash/build
/app/bugly
/galleryfinal
/libcocos2dx/build
/unity_pay/build
/build
/.gradle
/.idea
/captures
/local.properties
/tools/protobuf/com
/gradle.properties
/tmpmob
app/local.properties
app/.idea/gradle.xml
app/.idea/misc.xml
app/.idea/modules.xml
app/.idea/vcs.xml
app/.idea/workspace.xml